In [1]:
import pandas as pd

data = {'Meal_name':['Breakfast', 'Lunch', 'Dinner', 'Supper']}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

   Meal_name
0  Breakfast
1      Lunch
2     Dinner
3     Supper

In [2]:
df.to_csv('Meal_name.csv', header=True, index=False)

In [3]:
df = {'Meal_contents':['Musie','Soup','Roast','Tost']}
data=pd.DataFrame(df)
data

  Meal_contents
0         Musie
1          Soup
2         Roast
3          Tost

In [4]:
data.to_csv('Meal_contents.csv', header=True, index=False)

In [5]:
'Meal_contents':['Musie','Soup','Roast','Tost'],

SyntaxError: invalid syntax (1936294012.py, line 1)

In [6]:
pd.read_csv('Meal_contents.csv')

  Meal_contents
0         Musie
1          Soup
2         Roast
3          Tost

In [7]:
df = {'Meal_date':['01/01/2000','01/01/2000','01/01/2000','02/01/2000']}
dataframe=pd.DataFrame(df)
dataframe

    Meal_date
0  01/01/2000
1  01/01/2000
2  01/01/2000
3  02/01/2000

In [8]:
dataframe.to_csv('Meal_date.csv', header=True, index=False)

In [9]:
df = {'Meal_time':['8am','Noon','8pm','10am']}
dataset=pd.DataFrame(df)
dataset

  Meal_time
0       8am
1      Noon
2       8pm
3      10am

In [10]:
dataset.to_csv('Meal_time.csv', header=True, index=False)

In [14]:
import glob
import pandas as pd
path =r'/home/vimalkumar/Documents/Python_new_1/jeeva'
filenames = glob.glob(path + "/*.csv")
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))
datafra = pd.concat(dfs,ignore_index=False,axis=1)

In [15]:
datafra

  Meal_time   Meal_date  Meal_name Meal_contents
0       8am  01/01/2000  Breakfast         Musie
1      Noon  01/01/2000      Lunch          Soup
2       8pm  01/01/2000     Dinner         Roast
3      10am  02/01/2000     Supper          Tost