In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/home/vimalkumar/Downloads/insurance.csv')

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
lb = LabelEncoder()

In [6]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])

In [7]:
x_ind = df.iloc[:,:-1]
x_ind

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [8]:
y_dep = df.iloc[:,-1]
y_dep

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x_ind,y_dep,random_state=5,test_size=0.2)

In [13]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.1-py3-none-manylinux2014_x86_64.whl (173.5 MB)
     |████████████████████████████████| 173.5 MB 2.7 kB/s eta 0:00:01
Requirement already satisfied: numpy in /home/vimalkumar/Documents/Python_new_1/cde_venv/lib/python3.8/site-packages (from xgboost) (1.19.5)
Requirement already satisfied: scipy in /home/vimalkumar/Documents/Python_new_1/cde_venv/lib/python3.8/site-packages (from xgboost) (1.7.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.1
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/home/vimalkumar/Documents/Python_new_1/cde_venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [14]:
import xgboost as xgb

In [15]:
model  = xgb.XGBRegressor()

In [17]:
model.fit(x_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [18]:
y_pred = model.predict(x_test)

In [19]:
model.score(x_test,y_test)

0.8281103047516498

In [24]:
y_test.head(20)

471      2203.47185
1250    18648.42170
1257    11305.93455
139      2166.73200
919      5245.22690
488     48885.13561
691      8068.18500
159     19749.38338
1239     3238.43570
779      9869.81020
722     12979.35800
463     11165.41765
600      1633.04440
1003    21232.18226
1285     8534.67180
814      5584.30570
1304    21259.37795
735      9583.89330
568     11552.90400
426      6555.07035
Name: charges, dtype: float64

In [25]:
y_pred[:20]

array([18889.803 , 19941.025 , 13898.791 ,  2368.1287,  5344.0654,
       42286.293 , 10717.409 , 11506.413 ,  5942.948 , 10822.11  ,
       14495.856 , 17085.28  ,  5316.024 ,  8131.0054, 19550.445 ,
        6142.387 , 20447.705 , 12234.007 , 13682.985 ,  5492.1475],
      dtype=float32)