In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()


df = pd.read_csv('/home/vimalkumar/Downloads/Loan_Train.csv')
df

df.isna().sum()

df['Credit_History'].fillna(0.0,inplace=True)
df['Dependents'].replace('3+',3,inplace=True)
df['Self_Employed'].fillna('No',inplace=True)
df['LoanAmount'].fillna(df['LoanAmount'].mean(),inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean(),inplace=True)
df['Gender'].fillna('Male',inplace=True)

df = df.dropna()

x_ind = df[['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome',
          'LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']]


x_ind['Gender'] = lb.fit_transform(x_ind['Gender'])
x_ind['Married'] = lb.fit_transform(x_ind['Married'])
x_ind['Education'] = lb.fit_transform(x_ind['Education'])
x_ind['Self_Employed'] = lb.fit_transform(x_ind['Self_Employed'])
x_ind['Property_Area'] = lb.fit_transform(x_ind['Property_Area'])

x_ind['Dependents'] = x_ind['Dependents'].astype(int)
x_ind['Credit_History'] = x_ind['Credit_History'].astype(int)

y_dep = df['Loan_Status']
y_dep = lb.fit_transform(y_dep)

x_train,x_test,y_train,y_test = train_test_split(x_ind,y_dep,random_state=25,test_size=0.15)

lr = LogisticRegression()
lr.fit(x_train,y_train)
lr_pred = lr.predict(x_test)

/tmp/ipykernel_6589/869982023.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Gender'] = lb.fit_transform(x_ind['Gender'])
/tmp/ipykernel_6589/869982023.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Married'] = lb.fit_transform(x_ind['Married'])
/tmp/ipykernel_6589/869982023.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Education'] = lb.fit_transform(x_ind['Education'])
/tmp/ipykernel_6589/869982023.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Self_Employed'] = lb.fit_transform(x_ind['Self_Employed'])
/tmp/ipykernel_6589/869982023.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Property_Area'] = lb.fit_transform(x_ind['Property_Area'])
/tmp/ipykernel_6589/869982023.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Dependents'] = x_ind['Dependents'].astype(int)
/tmp/ipykernel_6589/869982023.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Credit_History'] = x_ind['Credit_History'].astype(int)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/home/vimalkumar/Downloads/Loan_Train.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
df['Credit_History'].fillna(0.0,inplace=True)
df['Dependents'].replace('3+',3,inplace=True)
df['Self_Employed'].fillna('No',inplace=True)
df['LoanAmount'].fillna(df['LoanAmount'].mean(),inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean(),inplace=True)
df['Gender'].fillna('Male',inplace=True)

In [6]:
df = df.dropna()

In [7]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 599 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            599 non-null    object
 1   Gender             599 non-null    object
 2   Married            599 non-null    object
 3   Dependents         599 non-null    object
 4   Education          599 non-null    object
 5   Self_Employed      599 non-null    object
 6   ApplicantIncome    599 non-null    int64
 7   CoapplicantIncome  599 non-null    float64
 8   LoanAmount         599 non-null    float64
 9   Loan_Amount_Term   599 non-null    float64
 10  Credit_History     599 non-null    float64
 11  Property_Area      599 non-null    object
 12  Loan_Status        599 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 65.5+ KB

In [9]:
x_ind = df[['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome',
          'LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']]

In [10]:
x_ind.isna().sum()

Gender              0
Married             0
Dependents          0
Education           0
Self_Employed       0
ApplicantIncome     0
LoanAmount          0
Loan_Amount_Term    0
Credit_History      0
Property_Area       0
dtype: int64

In [11]:
x_ind.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849,146.412162,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583,128.000000,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000,66.000000,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583,120.000000,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000,141.000000,360.0,1.0,Urban

In [41]:
x_ind.Loan_Amount_Term.unique()

array([360., 120., 240., 342., 180.,  60., 300., 480.,  36.,  84.,  12.])

In [12]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [13]:
x_ind['Gender'] = lb.fit_transform(x_ind['Gender'])
x_ind['Married'] = lb.fit_transform(x_ind['Married'])
x_ind['Education'] = lb.fit_transform(x_ind['Education'])
x_ind['Self_Employed'] = lb.fit_transform(x_ind['Self_Employed'])
x_ind['Property_Area'] = lb.fit_transform(x_ind['Property_Area'])

/tmp/ipykernel_6589/386171819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Gender'] = lb.fit_transform(x_ind['Gender'])
/tmp/ipykernel_6589/386171819.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Married'] = lb.fit_transform(x_ind['Married'])
/tmp/ipykernel_6589/386171819.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Education'] = lb.fit_transform(x_ind['Education'])
/tmp/ipykernel_6589/386171819.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Self_Employed'] = lb.fit_transform(x_ind['Self_Employed'])
/tmp/ipykernel_6589/386171819.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Property_Area'] = lb.fit_transform(x_ind['Property_Area'])

In [14]:
x_ind.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 599 entries, 0 to 613
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            599 non-null    int64
 1   Married           599 non-null    int64
 2   Dependents        599 non-null    object
 3   Education         599 non-null    int64
 4   Self_Employed     599 non-null    int64
 5   ApplicantIncome   599 non-null    int64
 6   LoanAmount        599 non-null    float64
 7   Loan_Amount_Term  599 non-null    float64
 8   Credit_History    599 non-null    float64
 9   Property_Area     599 non-null    int64
dtypes: float64(3), int64(6), object(1)
memory usage: 51.5+ KB

In [15]:
x_ind.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849,146.412162,360.0,1.0,2
1,1,1,1,0,0,4583,128.000000,360.0,1.0,0
2,1,1,0,0,1,3000,66.000000,360.0,1.0,2
3,1,1,0,1,0,2583,120.000000,360.0,1.0,2
4,1,0,0,0,0,6000,141.000000,360.0,1.0,2

In [16]:
x_ind['Dependents'] = x_ind['Dependents'].astype(int)
x_ind['Credit_History'] = x_ind['Credit_History'].astype(int)

/tmp/ipykernel_6589/828933844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Dependents'] = x_ind['Dependents'].astype(int)
/tmp/ipykernel_6589/828933844.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['Credit_History'] = x_ind['Credit_History'].astype(int)

In [17]:
x_ind.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849,146.412162,360.0,1,2
1,1,1,1,0,0,4583,128.000000,360.0,1,0
2,1,1,0,0,1,3000,66.000000,360.0,1,2
3,1,1,0,1,0,2583,120.000000,360.0,1,2
4,1,0,0,0,0,6000,141.000000,360.0,1,2

In [18]:
print(df['Gender'].value_counts())
print(df['Married'].value_counts())
print(df['Dependents'].value_counts())
print(df['Education'].value_counts())
print(df['Self_Employed'].value_counts())
print(df['Property_Area'].value_counts())

Male      490
Female    109
Name: Gender, dtype: int64
Yes    390
No     209
Name: Married, dtype: int64
0    345
1    102
2    101
3     51
Name: Dependents, dtype: int64
Graduate        469
Not Graduate    130
Name: Education, dtype: int64
No     519
Yes     80
Name: Self_Employed, dtype: int64
Semiurban    227
Urban        195
Rural        177
Name: Property_Area, dtype: int64

In [19]:
print(x_ind['Gender'].value_counts())
print(x_ind['Married'].value_counts())
print(x_ind['Dependents'].value_counts())
print(x_ind['Education'].value_counts())
print(x_ind['Self_Employed'].value_counts())
print(x_ind['Property_Area'].value_counts())

1    490
0    109
Name: Gender, dtype: int64
1    390
0    209
Name: Married, dtype: int64
0    345
1    102
2    101
3     51
Name: Dependents, dtype: int64
0    469
1    130
Name: Education, dtype: int64
0    519
1     80
Name: Self_Employed, dtype: int64
1    227
2    195
0    177
Name: Property_Area, dtype: int64

In [20]:
y_dep = df['Loan_Status']

In [21]:
y_dep.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

In [22]:
y_dep = lb.fit_transform(y_dep)

In [23]:
y_dep

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0])

In [24]:
df['Loan_Status'].value_counts()

Y    413
N    186
Name: Loan_Status, dtype: int64

In [25]:
print(len(y_dep[y_dep == 1]))
print(len(y_dep[y_dep == 0]))

413
186

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test = train_test_split(x_ind,y_dep,random_state=25,test_size=0.15)

In [28]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200,random_state=5)

In [29]:
rf.fit(x_train,y_train)

RandomForestClassifier(n_estimators=200, random_state=5)

In [30]:
y_pred = rf.predict(x_test)

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(y_test,y_pred)

0.7555555555555555

In [33]:
from sklearn.linear_model import LogisticRegression

In [34]:
lr = LogisticRegression()

In [35]:
lr.fit(x_train,y_train)

LogisticRegression()

In [36]:
lr_pred = lr.predict(x_test)

In [37]:
accuracy_score(y_test,lr_pred)

0.7666666666666667

In [38]:
x_ind.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
       'Property_Area'],
      dtype='object')

In [39]:
x_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
115,1,1,1,0,0,14583,185.0,180.0,1,0
23,1,1,2,1,0,3365,112.0,360.0,0,0
221,1,1,2,0,0,4009,116.0,360.0,1,1
377,1,1,0,0,0,4310,130.0,360.0,0,1
600,0,0,3,0,0,416,350.0,180.0,0,2

In [40]:
y_test

array([1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1])