In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pytesseract
import cv2
from pytesseract import Output

In [2]:
custom_config = r'--oem 3 --psm 6'
image = '/home/vimalkumar/Documents/images/Interview/image_1.jpg'
text_data = pytesseract.image_to_data(image,config=custom_config,
                                          output_type=Output.DICT)

In [3]:
text_data_1 = pytesseract.image_to_string(image,config=custom_config)
print(text_data_1)

Page 1 of 1
Bill-to Customer No.
Prices Including VAT No
Document Date 14. December 2020
Salesperson Niall Gannon
Your Order No. Pe
Job Location
Cheque No.
Our Order No. |
Payment Method ON A/C TRA
Goods Collected By
Delivery Instructions:
Unit of VAT
No. Description Qty Measure Unit Price Discount % Identifier Amount
FO27103 FIBERGLASS LADDER 3 STEP 3 EACH 35.00 HIGHC 105.00
FO27104 FIBERGLASS LADDER 4 STEP 3. EACH 41.50 HIGHC 124.50
FO27105 FIBERGLASS LADDER 5 STEP 3 EACH 47.00 HIGHC 141.00
FO27106 FIBERGLASS LADDER 6 STEP 3 EACH 55.00 HIGHC 165.00
LFD66AL ALUMINIUM 2 STEP STOOL 3 EACH 16.00 HIGHC 48.00
LAD430GFA FIBERGLASS EXT LADDER 28STEP 7.6MTR 1 EACH 125.00 HIGHC 125.00
LADS60GFA FIBERGLASS EXT LADDER 36STEP 9.7MTR 1 EACH 150.00 HIGHC 150.00
Total EUR Excl. VAT 858.50
21% VAT 180.29
Total EUR Incl. VAT 1,038.79
Goods remain strictly the property of the Vendor until paid in full

In [4]:
df = pd.DataFrame(text_data)
df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,1654,2339,-1,
1,2,1,1,0,0,0,97,146,1448,2080,-1,
2,3,1,1,1,0,0,109,146,1436,2080,-1,
3,4,1,1,1,1,0,1433,146,108,22,-1,
4,5,1,1,1,1,1,1433,146,49,22,95,Page
...,...,...,...,...,...,...,...,...,...,...,...,...
174,5,1,1,1,25,8,891,2200,89,21,96,Vendor
175,5,1,1,1,25,9,989,2200,47,21,94,until
176,5,1,1,1,25,10,1047,2200,50,26,96,paid
177,5,1,1,1,25,11,1108,2200,18,20,95,in
178,5,1,1,1,25,12,1136,2200,33,21,95,full

In [5]:
df = df.drop(["level","page_num","par_num","block_num","conf",
                  "width","height"],axis = 1)
df

     line_num  word_num  left   top    text
0           0         0     0     0
1           0         0    97   146
2           0         0   109   146
3           1         0  1433   146
4           1         1  1433   146    Page
..        ...       ...   ...   ...     ...
174        25         8   891  2200  Vendor
175        25         9   989  2200   until
176        25        10  1047  2200    paid
177        25        11  1108  2200      in
178        25        12  1136  2200    full

[179 rows x 5 columns]

In [7]:
pd.set_option('display.max_rows',1000)
df

     line_num  word_num  left   top           text
0           0         0     0     0
1           0         0    97   146
2           0         0   109   146
3           1         0  1433   146
4           1         1  1433   146           Page
5           1         2  1492   147              1
6           1         3  1509   146             of
7           1         4  1535   147              1
8           2         0  1036   416
9           2         1  1036   416        Bill-to
10          2         2  1099   417       Customer
11          2         3  1201   417            No.
12          3         0  1036   454
13          3         1  1036   454         Prices
14          3         2  1099   454      Including
15          3         3  1194   455            VAT
16          3         4  1451   455             No
17          4         0  1036   492
18          4         1  1036   493       Document
19          4         2  1144   493           Date
20          4         3  1292   492            14.
21          4         4  1326   492       December
22          4         5  1432   492           2020
23          5         0  1035   526
24          5         1  1035   526    Salesperson
25          5         2  1353   530          Niall
26          5         3  1402   530         Gannon
27          6         0  1035   544
28          6         1  1035   568           Your
29          6         2  1086   567          Order
30          6         3  1150   568            No.
31          6         4  1255   544             Pe
32          7         0  1034   605
33          7         1  1034   605            Job
34          7         2  1076   605       Location
35          8         0  1035   643
36          8         1  1035   643         Cheque
37          8         2  1117   644            No.
38          9         0  1035   652
39          9         1  1035   681            Our
40          9         2  1078   681          Order
41          9         3  1142   682            No.
42          9         4  1329   652              |
43         10         0  1036   715
44         10         1  1036   720        Payment
45         10         2  1127   719         Method
46         10         3  1352   715             ON
47         10         4  1392   715            A/C
48         10         5  1435   715            TRA
49         11         0  1035   756
50         11         1  1035   756          Goods
51         11         2  1105   756      Collected
52         11         3  1203   757             By
53         12         0   109   842
54         12         1   109   842       Delivery
55         12         2   193   842  Instructions:
56         13         0   884   978
57         13         1   884   979           Unit
58         13         2   933   978             of
59         13         3  1310   979            VAT
60         14         0   116  1004
61         14         1   116  1004            No.
62         14         2   308  1004    Description
63         14         3   817  1009            Qty
64         14         4   884  1009        Measure
65         14         5  1032  1009           Unit
66         14         6  1083  1009          Price
67         14         7  1166  1009       Discount
68         14         8  1263  1009              %
69         14         9  1311  1008     Identifier
70         14        10  1460  1009         Amount
71         15         0   111  1062
72         15         1   111  1062        FO27103
73         15         2   317  1066     FIBERGLASS
74         15         3   441  1067         LADDER
75         15         4   527  1066              3
76         15         5   545  1066           STEP
77         15         6   832  1066              3
78         15         7   884  1066           EACH
79         15         8  1081  1062          35.00
80         15         9  1312  1066          HIGHC
81         15        10  1483  1066         105.00
82         16         0   111  1092
83         16         1   111  1096        FO27104
84         16         2   317  1096     FIBERGLASS
85         16         3   441  1096         LADDER
86         16         4   526  1096              4
87         16         5   545  1096           STEP
88         16         6   823  1092             3.
89         16         7   884  1096           EACH
90         16         8  1080  1092          41.50
91         16         9  1312  1096          HIGHC
92         16        10  1483  1096         124.50
93         17         0   111  1122
94         17         1   111  1126        FO27105
95         17         2   317  1126     FIBERGLASS
96         17         3   441  1126         LADDER
97         17         4   527  1126              5
98         17         5   545  1126           STEP
99         17         6   832  1126              3
100        17         7   884  1126           EACH
101        17         8  1080  1122          47.00
102        17         9  1312  1126          HIGHC
103        17        10  1483  1126         141.00
104        18         0   111  1151
105        18         1   111  1155        FO27106
106        18         2   317  1155     FIBERGLASS
107        18         3   441  1156         LADDER
108        18         4   527  1155              6
109        18         5   545  1155           STEP
110        18         6   832  1155              3
111        18         7   884  1155           EACH
112        18         8  1082  1151          55.00
113        18         9  1312  1155          HIGHC
114        18        10  1483  1155         165.00
115        19         0   111  1181
116        19         1   111  1185        LFD66AL
117        19         2   316  1185      ALUMINIUM
118        19         3   446  1185              2
119        19         4   464  1185           STEP
120        19         5   517  1185          STOOL
121        19         6   832  1185              3
122        19         7   884  1185           EACH
123        19         8  1082  1181          16.00
124        19         9  1312  1185          HIGHC
125        19        10  1493  1185          48.00
126        20         0    97  1210
127        20         1    97  1210      LAD430GFA
128        20         2   317  1214     FIBERGLASS
129        20         3   441  1215            EXT
130        20         4   483  1215         LADDER
131        20         5   569  1214         28STEP
132        20         6   645  1214         7.6MTR
133        20         7   833  1214              1
134        20         8   884  1214           EACH
135        20         9  1070  1210         125.00
136        20        10  1312  1214          HIGHC
137        20        11  1483  1214         125.00
138        21         0    97  1240
139        21         1    97  1240      LADS60GFA
140        21         2   317  1244     FIBERGLASS
141        21         3   441  1244            EXT
142        21         4   483  1244         LADDER
143        21         5   569  1244         36STEP
144        21         6   645  1244         9.7MTR
145        21         7   833  1244              1
146        21         8   884  1244           EACH
147        21         9  1070  1240         150.00
148        21        10  1312  1244          HIGHC
149        21        11  1483  1244         150.00
150        22         0  1170  1329
151        22         1  1170  1329          Total
152        22         2  1231  1329            EUR
153        22         3  1279  1329          Excl.
154        22         4  1331  1329            VAT
155        22         5  1476  1329         858.50
156        23         0  1287  1359
157        23         1  1287  1359            21%
158        23         2  1335  1359            VAT
159        23         3  1483  1359         180.29
160        24         0  1173  1416
161        24         1  1173  1416          Total
162        24         2  1234  1416            EUR
163        24         3  1283  1416          Incl.
164        24         4  1331  1416            VAT
165        24         5  1459  1416       1,038.79
166        25         0   390  2199
167        25         1   390  2199          Goods
168        25         2   480  2200         remain
169        25         3   571  2200       strictly
170        25         4   657  2200            the
171        25         5   704  2201       property
172        25         6   814  2200             of
173        25         7   844  2200            the
174        25         8   891  2200         Vendor
175        25         9   989  2200          until
176        25        10  1047  2200           paid
177        25        11  1108  2200             in
178        25        12  1136  2200           full

In [11]:
Quantity=[]
for idx,word in enumerate(df["text"]):
        if (word.lower() == "No".lower() or word.lower() == "Number".lower()):
            print(word)
            line_no_1 = df["line_num"][idx]
            print(line_no_1)

No
3