In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame({'category':['a','b','c'],
       'sales':[500,600,550]})

In [4]:
data

  category  sales
0        a    500
1        b    600
2        c    550

In [5]:
data['sales_10%'] = data['sales']*0.1

In [6]:
data

  category  sales  sales_10%
0        a    500       50.0
1        b    600       60.0
2        c    550       55.0

In [7]:
def sales_predict(data):
    data_values = data*0.1
    print(data_values)

In [22]:
def sales_predict(data,percent):
    data_values = data*percent
    print(data_values)

In [25]:
sales_predict(data['sales'],0.3)

0    150.0
1    180.0
2    165.0
Name: sales, dtype: float64

In [9]:
search = 'nokia 8gb gold'

In [11]:
search_list = search.split(' ')

['nokia', '8gb', 'gold']

In [1]:


def search_path(search):
    search_list = search.split(' ')
    product = ['iphone','nokia','samsung']
    ram = ['8gb','16gb','64gb']
    colour = ['silver','gold']
    
    for i in search_list:
        if i in product:
            print('product :',i)
            
    for i in search_list:
        if i in ram:
            print('brand :',i)
            
    for i in search_list:
        if i in colour:
            print('colour :',i)

In [2]:
search = 'nokia 8gb gold'
search_path(search)

product : nokia
brand : 8gb
colour : gold

In [3]:
search = 'iphone 16gb green'
search_path(search)

product : iphone
brand : 16gb