In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = sns.load_dataset('titanic')

In [12]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [13]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [14]:
df['age'] = df['age'].fillna(df['age'].median())

In [15]:
df.dropna(inplace=True)

In [16]:
df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [17]:
x_ind = df[['pclass','sex','age','sibsp','fare','embark_town']]

In [18]:
y_dep = df['survived']

In [19]:
x_ind.shape

(201, 6)

In [21]:
y_dep.shape

(201,)

In [26]:
y_dep.value_counts()

1    134
0     67
Name: survived, dtype: int64

In [23]:
x_ind.head()

    pclass     sex   age  sibsp     fare  embark_town
1        1  female  38.0      1  71.2833    Cherbourg
3        1  female  35.0      1  53.1000  Southampton
6        1    male  54.0      0  51.8625  Southampton
10       3  female   4.0      1  16.7000  Southampton
11       1  female  58.0      0  26.5500  Southampton

In [24]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [25]:
x_ind['sex'] = lb.fit_transform(x_ind['sex'])
x_ind['embark_town'] = lb.fit_transform(x_ind['embark_town'])

/tmp/ipykernel_5976/3165026167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['sex'] = lb.fit_transform(x_ind['sex'])
/tmp/ipykernel_5976/3165026167.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_ind['embark_town'] = lb.fit_transform(x_ind['embark_town'])

In [27]:
x_ind.head()

    pclass  sex   age  sibsp     fare  embark_town
1        1    0  38.0      1  71.2833            0
3        1    0  35.0      1  53.1000            2
6        1    1  54.0      0  51.8625            2
10       3    0   4.0      1  16.7000            2
11       1    0  58.0      0  26.5500            2

In [22]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x_ind,y_dep,random_state=5,test_size=0.1)

In [29]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [30]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [34]:
y_pred=rf.predict(x_test)
y_pred

array([0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1])

In [35]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy_score(y_test,y_pred)*100

66.66666666666666

In [38]:
from sklearn.model_selection import RandomizedSearchCV

In [39]:
parameters={'n_estimators':(100,200,300,400,800,1000),'criterion':('gini','entropy'),
           'max_features':('sqrt','log2'),'min_samples_split':(2,4,6,8)}

In [40]:
rf_grid=RandomizedSearchCV(RandomForestClassifier(),param_distributions=parameters,cv=5)

In [41]:
rf_grid.fit(x_train,y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(),
                   param_distributions={'criterion': ('gini', 'entropy'),
                                        'max_features': ('sqrt', 'log2'),
                                        'min_samples_split': (2, 4, 6, 8),
                                        'n_estimators': (100, 200, 300, 400,
                                                         800, 1000)})

In [42]:
rf_grid.best_estimator_

RandomForestClassifier(max_features='log2', min_samples_split=4)

In [43]:
rf_model = RandomForestClassifier(max_features='log2', min_samples_split=4)

In [45]:
rf_model.fit(x_train,y_train)

RandomForestClassifier(max_features='log2', min_samples_split=4)

In [46]:
rf_p = rf_model.predict(x_test)

In [47]:
accuracy_score(y_test,rf_p)

0.7142857142857143

n_estimators = [int(x) for x in np.linspace (start = 200, stop=2000, num = 3)]

#depth
max_depth = [int(x) for x in np.linspace(10,1000,3)]

# splits
min_samples_split = [2,5,7,9]

#minimum leaf

min_samples_leaf = [3,5]

#criterion
criterion = ['gini', 'entropy']

random_grid = {
    'n_estimators':n_estimators,
    'max_depth': max_depth,
    'min_samples_split': min_samples_split,
    'min_samples_leaf' : min_samples_leaf,
}

rf_grid1=RandomizedSearchCV(RandomForestClassifier(),param_distributions=random_grid,cv=5)

rf_grid1.fit(x_train,y_train)

rf_grid1.best_estimator_

rf1_model = RandomForestClassifier(max_depth=1000, min_samples_leaf=3, min_samples_split=5,
                       n_estimators=1100)

rf1_model.fit(x_train,y_train)

rf1_model.predict(x_test)

accuracy_score(y_test,rf1_model.predict(x_test))

In [48]:
data = pd.read_csv('/home/vimalkumar/Downloads/ford.csv')

In [49]:
data.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [66]:
data['model'].unique()

array([' Fiesta', ' Focus', ' Puma', ' Kuga', ' EcoSport', ' C-MAX',
       ' Mondeo', ' Ka+', ' Tourneo Custom', ' S-MAX', ' B-MAX', ' Edge',
       ' Tourneo Connect', ' Grand C-MAX', ' KA', ' Galaxy', ' Mustang',
       ' Grand Tourneo Connect', ' Fusion', ' Ranger', ' Streetka',
       ' Escort', ' Transit Tourneo'], dtype=object)

In [67]:
data.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [69]:
x = data[['model','year','transmission','mileage','fuelType','tax','mpg','engineSize']]

In [70]:
y = data['price']

In [71]:
x

         model  year transmission  mileage fuelType  tax   mpg  engineSize
0       Fiesta  2017    Automatic    15944   Petrol  150  57.7         1.0
1        Focus  2018       Manual     9083   Petrol  150  57.7         1.0
2        Focus  2017       Manual    12456   Petrol  150  57.7         1.0
3       Fiesta  2019       Manual    10460   Petrol  145  40.3         1.5
4       Fiesta  2019    Automatic     1482   Petrol  145  48.7         1.0
...        ...   ...          ...      ...      ...  ...   ...         ...
17960   Fiesta  2016       Manual    31348   Petrol  125  54.3         1.2
17961    B-MAX  2017       Manual    16700   Petrol  150  47.1         1.4
17962    B-MAX  2014       Manual    40700   Petrol   30  57.7         1.0
17963    Focus  2015       Manual     7010   Diesel   20  67.3         1.6
17964       KA  2018       Manual     5007   Petrol  145  57.7         1.2

[17965 rows x 8 columns]

In [72]:
x['model'] = lb.fit_transform(x['model'])
x['transmission'] = lb.fit_transform(x['transmission'])
x['fuelType'] = lb.fit_transform(x['fuelType'])

/tmp/ipykernel_5976/1155389005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['model'] = lb.fit_transform(x['model'])
/tmp/ipykernel_5976/1155389005.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['transmission'] = lb.fit_transform(x['transmission'])
/tmp/ipykernel_5976/1155389005.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['fuelType'] = lb.fit_transform(x['fuelType'])

In [73]:
x.shape

(17965, 8)

In [74]:
y.shape

(17965,)

In [75]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,random_state=10,test_size=0.2)

In [76]:
from sklearn.ensemble import RandomForestRegressor
r  = RandomForestRegressor()

In [79]:
r.fit(xtrain,ytrain)

RandomForestRegressor()

In [82]:
r_pred = r.predict(xtest)
r_pred

array([11536.4 , 15861.95,  8188.91, ..., 14796.69, 10116.6 ,  8945.4 ])

In [85]:
ytest

14304    11649
7728     13490
15622     8295
15130     9999
7243     20000
         ...
13958    13700
7651      9691
612      14998
11190    10599
7054      8399
Name: price, Length: 3593, dtype: int64

In [86]:
r.score(xtest,ytest)

0.929085663078689

In [87]:
r.score(xtrain,ytrain)

0.9896396707792215